/* Persistant Page Header Style */

.header {
  background-color: black;
  width: 100vw;
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
}

/* Base page container */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  min-height: 100vh;
  width: 100vw;
}

/* Container for all tasks page */
.tasks-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: black;
}

.tasks-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Individual task cards */
.task-card {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(45, 43, 43);
  margin: 10px;
  width: 75%;
  border-radius: 20px;
  height: auto;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.244);
}

.status-update-select {
  font-size: 1.5em;
}

.task-label {
  font-size: 1.2em;
  font-weight: bold;
}

/* Container for form displays */
.form-container {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Actual form styling */
.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
}

/* Form option styling */
.task-option {
  display: flex;
  flex-direction: column;
  border: 5px solid black;
  padding: 5px;
  margin: 5px;
  width: 100%;
}

.task-option label {
  font-size: 1.75em;
  font-weight: bold;
}

.task-option input, .task-option select {
  padding: 10px;
  font-size: 1.5em;
}

.err-msg {
  font-weight: bold;
  font-size: 1.5em;
  color: red;
}

/* Buttons */
.btn {
  background-color: rgb(0, 0, 0);
  margin: 5px;
}

.btn.delete {
  background-color: rgb(200, 31, 31);
}

.btn.update {
  background-color: rgb(43, 43, 159);
}

.btn.submit {
  background-color: green;
}

.btn.back {
  background-color: black;
}
